.calculadora{
    background-color: red;
    height: 500px;
    width: 500px;
}
.botao{
     display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
}

.resultado{
    width: 100%;
    height: 30px;
    text-align: right;
}
.botao button{
    font-size: 24px;
    height: 50px;
    background: white;
    border: none;
}  
